<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Centre del Col·lapse</title>
  <link rel="icon" href="../images/icons/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="../images/icons/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../css/main.css">
  <script src="../js/main.js" async></script>
  <script src="../js/populate-prod.js" async></script>
  <script src="../js/populate-activities.js" async></script>
</head>

<body>
  <div class="page-container">
    <header>
      <div class="branding">
        <button class="menu-button" onclick="toggleMenu()">Menú</button>
        <a href="index.html"><img src="images/logoCCCC.png" alt="Logo"></a>
        <div class="social-media">
          <div class="language"><a href="#">Español</a><p>/</p><a href="#">English</a></div>
          <a href="#"><img src="images/icons/instagram.png" alt="Instagram"></a>
          <a href="#"><img src="images/icons/youtube.png" alt="YouTube"></a>
          <a href="#"><img src="images/icons/tiktok.png" alt="TikTok"></a>
        </div>
      </div>
      <hr class="hr-light">
      <div class="nav-menu">
        <ul>
          <li><a href="#">CONSORCI DE GENT</a></li>
          <li><a href="productions.html">PRODUCCIÓ</a></li>
          <li><a href="#">ACTIVITATS</a></li>
          <li><a href="coming-soon.html">EDUCACIÓ</a></li>
          <li><a href="#">OFFLINE</a></li>
          <li><a href="coming-soon.html">PUBLICACIONS</a></li>
          <li><a href="coming-soon.html">CONVOCATORIES</a></li>
          <li><a href="coming-soon.html">PRENSA</a></li>
        </ul>
      </div>
    </header>
    <hr class="hr-bold">
    <p>coming sooooooooooon....</p>
  </div>
</body>

</html>
