<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Centre del Col·lapse</title>
  <link rel="icon" href="../assets/build/icons/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="../assets/build/icons/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/gallery.css">
  <script src="../js/main.js" async></script>
  <script src="../js/populate/consorci-gent.js" async></script>
</head>

<body>
  <div class="page-container">
    <header>
      <div class="branding">
        <button class="menu-button" onclick="toggleMenu()">Menú</button>
        <a href="../index.html"><img src="../assets/build/logo.png" alt="Logo"></a>
        <div class="social-media">
          <div class="language"><a href="#">Español</a><p>/</p><a href="#">English</a></div>
          <a href="https://www.instagram.com/centrecolapse/"><img src="../assets/build/icons/instagram.png" alt="Instagram"></a>
          <a href="https://www.youtube.com/@centrecolapse"><img src="../assets/build/icons/youtube.png" alt="YouTube"></a>
          <a href="#"><img src="../assets/build/icons/tiktok.png" alt="TikTok"></a>
        </div>
      </div>
      <hr class="hr-light">
      <div class="nav-menu">
        <ul>
          <li><a href="consorci-gent.html">CONSORCI DE GENT</a></li>
          <li><a href="produccio.html">PRODUCCIÓ</a></li>
          <li><a href="https://www.instagram.com/planesconamigas/">AGENDA</a></li>
          <li><a href="coming-soon.html">EDUCACIÓ</a></li>
          <li><a href="coming-soon.html">OFFLINE</a></li>
          <li><a href="coming-soon.html">PUBLICACIONS</a></li>
          <li><a href="coming-soon.html">CONVOCATORIES</a></li>
          <li><a href="prensa.html">PRENSA</a></li>
        </ul>
      </div>
    </header>
  </div>

  <div class="page-container">
    <hr class="hr-bold">
    <div class="gallery">
      <h2><a href="consorci-gent.html">Consorci de Gent</a></h2>
      <div id="populate-productions" class="grid-container">
        <!-- JSON POPULATION -->
      </div>
    </div>
    <br>
    <hr class="hr-bold">

    <!-- <footer>
      <img src="../assets/build/icons/open source.png" alt="">
      <div class="footer-info">
        <a href="https://opensource.org/about/">Open Source Initiative</a>
        <a href="#">HELLO WORLD</a>
        <a href="#">HELLO WORLD</a>
        <a href="#">HELLO WORLD</a>
      </div>
      <div class="footer-info">
        <p>CONSORCI DE GENT DE LA COMUNITAT VALENCIANA</p>
        <p>CENTRE DEL COL·LAPSE</p>
        <p>Horari: Dilluns a Diumenge de 00:00 a 00:00 h.</p>
        <p>C/ Enlloc, nº 0. 99999 INTERNET Tel. 999 999 999 / 000 000 000 </p>
        <p>consorcidegent@cccc.es</p>
      </div>
      <img src="../assets/images/build/earth.png" alt="">
    </footer> -->

  </div>
</body>

</html>
